#resetpwd {
    background-color: rgb(241, 241, 241);
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 2px 12px 18px  #222324;
    width: 350px;
    height: 55%;
    float: right;
    clear: both;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10%;
}

#resetpwd .title {
    background: rgb(241, 241, 241);
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    font: bold 45px/45% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    letter-spacing: 0.25em;
    color: rgba(38, 43, 16, 0.473);
    text-transform: uppercase;
}

#resetpwd .item {
    clear: both;
    width: 85%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

#resetpwd .item label{
    float: left;
    height: 25px;
    display: inline-block;
    color: gray;
    font-family: sans-serif;
    font-size: 1.0em;

}

#resetpwd .item input {
    float: right;
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid rgb(27, 25, 25);
    border-radius: 4px;
    transition: 0.5s;
    

}

#resetpwd .function {
    width: 80%;
    height: 25px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 5px;
    word-spacing: 20%;

}

#resetpwd .button {
    border-width: 0;
    width: 33%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

#resetpwd input[type=submit] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

#resetpwd input[type]:hover {
    background-color: rgba(151, 100, 199, 0.459);
    transition: 0.5s;
}
